*{
	margin-left: 20px;
	margin-top: 20px;
	color: #868686;
}

.box{
	
	float:left;
    background: #FBFBFB;
	color: #868686;
    border-right: 0.2px solid #EEEEEE;
    padding: 15px;
    margin:3px;
    text-align: center;
    width: 14%;
    height: 250px;
}

.caja{
	text-align: center;
}

span{
	font-size: 40px;
	text-align: center;
}

.parrafo{
	font-family: "Open Sans";
    font-size: 12px; 
    text-align: center;  
}

.titulo{
	font-family: "Montserrat";
	font-size: 16px;
	text-align: center;
}

a{
	text-decoration: none;
}

.box:hover  {
	color: red;
	transition-property: font-size;
  	transition-duration: 1s;
	transform: scale(1.2)
}


